absl-py==2.1.0
attrs==24.2.0
beautifulsoup4==4.12.3
certifi==2024.8.30
charset-normalizer==3.3.2
eventlet==0.33.2  # Eventlet for Flask-SocketIO
dnspython==2.2.1
Flask==2.3.0  # Flask web framework
Flask-Cors==5.0.0  # Handling Cross-Origin Resource Sharing
Flask-SocketIO==5.4.1  # Real-time communication support
Flask-SQLAlchemy==3.1.1  # Database ORM for Flask
gevent==23.9.1  # Gevent for asynchronous workers with Gunicorn
gunicorn==20.1.0  # Gunicorn for running the app with eventlet or gevent
Jinja2==3.1.4  # Template engine for Flask
numpy==1.26.4 --only-binary=:all:  # NumPy with binary-only packages for faster installation
pandas==2.2.3 --only-binary=:all:  # Pandas for data manipulation
requests==2.32.3  # HTTP requests handling
scikit-learn==1.5.2  # Machine Learning library
scikit-learn-intelex==2024.7.0  # Optimizations for scikit-learn
scipy==1.14.1 --only-binary=:all:  # SciPy for scientific computations
tensorflow-cpu==2.17.0  # CPU-only TensorFlow version
Werkzeug==3.0.4  # WSGI library for Flask
